footer {
	background-color: var(--dark-900);
	padding: 3rem 0;
}
.footer-section-title {
	color: var(--light-900);
	font-size: 1.1rem;
	margin-bottom: 1rem;
}
.footer-section {
	margin: 2rem 0;
}
.footer-section-paragraph,
.footer-section-body a {
	font-size: 0.9rem;
	text-align: left;
	color: var(--grey-900);
	margin: 1rem 0;
}
.footer-signup-form {
	margin: 0;
	height: 3.5rem;
}
.footer-signup-button,
.footer-signup-input {
	padding: 1.1rem 0;
}
.post-date {
	font-size: 0.8rem;
	color: var(--grey-900);
	margin-top: -1rem;
	margin-bottom: 1rem;
}
.footer-section-body li {
	padding: 0.6rem 0;
	border-bottom: 1px solid var(--grey-900);
}

.footer-section-body li:last-child {
	border-bottom: none;
}
.copyright {
	color: var(--grey-900);
	margin: 1rem 0;
}
.links {
	margin: 1rem;
}
.links li {
	float: left;
	padding: 1rem;
}
@media screen and (min-width: 480px) {
	.footer-section {
		float: left;
		width: 20rem;
		margin-left: 5rem;
		margin-right: 5rem;
	}
}
@media screen and (min-width: 1025px) {
	.footer-section {
		float: left;
		width: 17rem;
		margin-left: 0.6rem;
		margin-right: 0.6rem;
	}
	.copyright {
		float: left;
		font-size: 0.8rem;
	}
	.links {
		margin-top: -0.5rem;
		float: right;
	}
}
