@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "reset.css";
@import "shared.css";
@import "./sections/hero.css";
@import "./sections/products.css";
@import "./sections/plans.css";
@import "./sections/join.css";

:root {
	--blue-900: #2c7bca;
	--blue-800: #2f8be6; /*button bg*/

	--grey-900: #86919d; /*hero button 2 bg*/
	--grey-800: #dae1e7; /*tabs*/
	--grey-700: #f1f5f8; /*main bg*/

	--dark-900: #21272c; /*footer bg and h1*/

	--light-900: #fff;
	--light-800: #c0c0c0; /*secondary hero title*/

	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

body {
	min-width: 320px;
	color: var(--dark-900);
	background-color: var(--grey-700);
}
/*stop scroll when fullscreen menu is open*/
.hide-overflow {
	overflow: hidden;
}
